<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center; color: #00378a">LISTA DE PRODUCTOS</h1>
    <div style="border: #00000059; background-color:rgb(253, 253, 155); margin:auto; padding:1em">   
    <% if (arrayProductos.length > 0) { %>
    <table style="margin: 1.5em auto 1.5em auto; background-color:aquamarine; box-shadow: 0px 0px 10px #003cff; list-style-type: none; width: 20%; padding:10px">
        <thead>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>IMAGEN</th>
        </thead>
        <tbody>
        <% arrayProductos.forEach(function(producto) { %>
            <tr>
                <td><%= producto.nombre %> </td>
                <td><%= producto.precio %> </td>
                <td><img src="<%= producto.foto %>" height="75px" alt="foto"></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
    <% } else { %>
        <p>NO HAY PRODUCTOS</p>
    <% } %>
    </div>
    <button style="margin: 3em auto 3em auto" onclick="window.location.href='/'" >IR A INICIO</button>
</body>
</html>

